<header id ="header-container" class="container-fluid" > <nav class="navbar navbar-expand-lg navbar-black bg-dark w-100">
  <a class="navbar-brand" href="#">Verizon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/warehouses">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About </a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
      <a class="nav-item nav-link " href="/signup">Login</a>
    </div>
  </div>
</nav></header>

<div class="container">
    <div id="singlewarehouse" > 
        	<h2>{{warehouse.name}}</h2>
	<img class="item-img" src="{{warehouse.image}}" />
    </div>   

    <div><h2> Warehouse Capacity: {{warehouse.capacity}} pallets</h2> </div> 

        <button id='allwarehouse-btn' class="btn-dark"><a class="btn" href="/warehouses">Show All warehouses</a></button>
        
      <button id='btn-{{id}}' class="pallet-view-btn btn-dark"><a href="/pallet/{{warehouse.id}}">View Pallets</a></button>
    




	<script src="/script.js"></script>
</div>